/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --text-shadows-color: 1px rgba(255, 255, 255, 0.5);
    --stroke-color:rgba(0, 0, 0, 0.5);
    --contour-color: #000;
    --sparks-color: #FF0000;
    --weight-subtitle: 700;
    --weight-paragraph: 400;
}